{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Government college of engineering</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac42c3b1f7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main2.css' %}">
</head>
<body>
<div class="card4">
<h1 class="head4">Government Exams Registration</h1>
</div>
      <div class="container">
        <div class="row">
            {% for val in data %}
            <div class="col-8">
                <div class=" card1">
                <div>
                    <img src="{{val.img.url}}" class="img1">
                </div>
                <div class="card2">
                    <h1 class="head1">{{val.job_name}}</h1>
                    <p class="para1">{{val.desc}}</p>
                </div>
            </div>
            </div>

            <div class="col-4">
                <div class="d-flex flex-column justify-content-center card3">
                <div style="text-align:center;">
             <h1 class="head2">Rules :</h1>
                </div>
                <div class="para2">
                     <p>
                        {{val.rules}}
                    </p>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>


   

<div style="text-align:center;" class="card5"><a href="enter"><button class="btn1">Register</button></a></div>
</body>
</html>